# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Environment variables
.env

# Build output
/build

# IDE files
.vscode/
.idea/

# Dependency lock file
package-lock.json

# Miscellaneous
.DS_Store
Thumbs.db
